q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

In [14]:
#q1:
n=int(input("Enter the number of rows:"))
for i in range(n):
    for j in range(i+1):
        print("ineuron",end=" ")
    print()

Enter the number of rows:4
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [64]:
#q2
n=3
for i in range(n-1):
    for j in range(i,n):
        print("    ",end=" ")
   
    for j in range(i+1):
        print("ineuron",end="   ")
    print()
for i in range(n):
    for j in range(i+1):
        print("    ",end=" ")
    for j in range(n-i):
        print("ineuron",end="   ")
        
    
        
    print()

               ineuron
          ineuron   ineuron
     ineuron   ineuron   ineuron
          ineuron   ineuron
               ineuron

In [68]:
#q3
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [69]:
#q4
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [70]:
#q5
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [75]:
#q6
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for k in i:
            if type(k)==int:
                print(k)
    if type(i)==dict:
        for m,n in i.items():
            if type(m)==int or type(n)==int:
                print(m)
                print(n)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [79]:
#q7
h=[]
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for k in i:
            if type(k)==int:
                h.append(k)
    if type(i)==dict:
        for m,n in i.items():
            if type(m)==int or type(n)==int:
                h.append(m)
                h.append(n)
s=0
for i in h:
    s=s+i
print(s)

156

In [87]:
#q8
for i in h:
    if i % 2 !=0:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [110]:
#q9
for i in l:
    if type(i)==list:
        for j in i:
            if j=='ineuron':
                print(j)
    if type(i)==dict:
        for p,q in i.items():
            if q=='ineuron':
                print(q)
            if p=='ineuron':
                print(p)

ineuron
ineuron

In [145]:
#q10
h=[]
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for k in i:
            if type(k)==int or type(k)==str or type(k)==tuple or type(k)==set:
                h.append(k)
    if type(i)==dict:
        for m,n in i.items():
            if type(m)==int or type(m)==str:
                h.append(m)
            if type(n)==int or type(n)==str:
                h.append(n)
for t in set(h):
    print(t,":",h.count(t))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
sudh : 1
ineuron : 2
kumar : 1
8 : 1
data science  : 1
45 : 1
k2 : 1
k3 : 1
23 : 1
k1 : 1

In [146]:
#q11
for i in l:
    if type(i)==dict:
        for k in i:
            print(k)

k1
k2
k3
3
7

In [147]:
#q12
for i in l:
     if type(i)==list or type(i)==set or type(i)==tuple:
            for k in i:
                if type(k)==str:
                    print(k)
     if type(i)==dict:
            for m,n in i.items():
                if type(m)==str or type(n)==str:
                    print(m)
                    print(n)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [148]:
#q13
for i in h:
    if type(i)==str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [155]:
#q14
a=[]
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for k in i:
            if type(k)==int:
                a.append(k)
    if type(i)==dict:
        for m,n in i.items():
            if type(m)==int or type(n)==int:
                a.append(m)
                a.append(n)
m=1
for t in a:
    m=m*t
print(m)

908605071360000

In [157]:
#q15
print(h,end=" ")

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']