 q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file

In [85]:
#q1
def prime_num(a,b):
    for i in range(a,b):
        if i>1:
            for j in range(2,i):
                if i%j ==0:
                    break
            else:
                print(i)
    
        
  
prime_num(1,1000)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [34]:
#q2
def type(*m):
    return m

In [35]:
type(1,2,3,4,54,433)

(1, 2, 3, 4, 54, 433)

In [70]:
#q3
#replica #append
l=[]
def install(number_of_elements):
    for i in range(number_of_elements):
        k=eval(input("enter whatever you want:"))
        p=len(l)
        l.insert(p,k)
    return l
install(6)

enter whatever you want:1
enter whatever you want:2
enter whatever you want:3
enter whatever you want:4
enter whatever you want:5
enter whatever you want:56

[1, 2, 3, 4, 5, 56]

In [79]:
#replica #extend
def extend(list,n):
    for i in n:
        p=len(list)
        list.insert(p,i)
    return list

extend([1,2,3],n=eval(input("kuchh bhi type kar:")))

kuchh bhi type kar:1,"str"

[1, 2, 3, 1, 'str']

In [125]:
#replica #pop
def pop(list):
    list.remove(list[len(list)-1])
    return list
pop([1,3,5,6])

[1, 3, 5]

In [4]:
#q4:
l=['ineuron','classes','data science']
from functools import reduce
reduce(lambda a,b:a+b,l)

'ineuronclassesdata science'

In [10]:
#2nd approach
t=['human',78,'being',765,'howzatt']
''.join(filter(lambda x:type(x)== str,t))

'humanbeinghowzatt'

In [13]:
#q5
k=list(range(1,100))
list(map(lambda x:x**2,k))

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [14]:
#q7
#eg1
into_2=lambda a:a*2
print(into_2(9))

18

In [15]:
#eg2
square=lambda x:x*x
print(square(7))

49

In [17]:
#eg3
cubing=lambda x:x**3
print(cubing(7))

343

In [21]:
#eg4
#with if statement
l=[1,2,3,4,45,5]
list(filter(lambda x:x%2==0,l))

[2, 4]

In [23]:
#eg5
#sum
l=[2342,54,56,64,6,78]
reduce(lambda a,b:a+b,l)

2600

In [24]:
#eg6
#product
l=[2342,54,56,64,6,78]
reduce(lambda a,b:a*b,l)

212126294016

In [26]:
#eg7
#checking a condition
l=['dog','cat','mouse','bakri']
list(map(lambda x:x.isupper(),l))

[False, False, False, False]

In [28]:
#eg8
#conversion
l=['dog','cat','mouse','bakri']
list(map(lambda x:str.upper(x),l))

['DOG', 'CAT', 'MOUSE', 'BAKRI']

In [43]:
#eg9
#using for loop with lambda function
l=(2,3,4,5,48,65,45,48,652,344)
k=lambda *x:[i for i in x]
k(l)

[(2, 3, 4, 5, 48, 65, 45, 48, 652, 344)]

In [44]:
#eg10
#join operation,STRING
t=['human',78,'being',765,'howzatt']
''.join(filter(lambda x:type(x)== str,t))

'humanbeinghowzatt'

In [82]:
#q7
def fun(filename):
    f=open(filename,"r")
    f.seek(int(input("set the pointer:")))
    
    return f.read()

In [83]:
fun("test5.txt")

set the pointer:5

'is my different writing operation\n'